---
import WorkLayout from "../../layouts/Pagelayout.astro";
const allPosts = await Astro.glob("./*.md");
// console.log(allPosts.map((post) => post.url));
// console.log(page);
---

<WorkLayout title="blogs">
  <div class="grid gap-5">
    {
      allPosts.map((post) => (
        <div>
          <div class=" flex gap-5 place-items-center ">
            <h1 class="font-display text-2xl uppercase">
              {post.frontmatter.title}
            </h1>
            <p class=" text-sm italic underline">
              {post.frontmatter.publishedAt}
            </p>
          </div>
          <p>Description: {post.frontmatter.description}</p>
          <a href={post.url}>read more...</a>
        </div>
      ))
    }
  </div>
</WorkLayout>
