---
import Layout from "../layouts/Pagelayout.astro";
---

<Layout title="404">
  <div class="gird place-items-center text-center">
    <h1>Oh! seems like the page you visit doesn't exist</h1>
    <a href="/">Go Home</a>
  </div>
</Layout>
