---
import Layout from "../layouts/Layout.astro";
---

<Layout title="about page">
  <section>
    <p>
      Hello guys! I'm a web developer, love to explorer the web world and
      building interactive website.
    </p>
  </section>
</Layout>
